body	{

	font-family: 'Josefin Slab', serif;
	
}

html {
	background-image: url('../images/back/brushed.png');
}

h2 {
color: #BCBBBB;


}

h1, h3 {
	color: #747704;

}


a {
	color:#747704 ;
}


@media screen and (max-width: 750px) {

.mobile{
	text-align: center;
}
	
}