/*Whole Document*/

html {
	background-image: url('../images/back/brushed.png');
}

body {

	font-family: 'Josefin Slab', serif;
	
}


@media screen and (max-width: 750px) {

	.mobile{
	text-align: center;
	}
	
}
/*Whole Document*/

/*Headings*/
h2 {
color: #BCBBBB;
 
}

h1,
h3 {
	color: #747704;

}
/*Headings*/



a {
	color: #747704 ;
}
