:root {
    --backgroundColor: greenyellow;
    --rebecca : rebeccapurple;
    --flex-container : {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    };
    --flex-items : {

    };
    --header-theme: {
        font-size: 20px;
        background-color: orange;
        color: white;
        & p {
            margin: 20px;
            color: color(var(--rebecca) lightness(90%));
        }
        & ul {
            @apply --flex-container;
            list-style: none;

            & li {
                    background: springgreen;
                    color: var(--rebecca);
                    margin: 4px;
                    &:hover {
                        background: white;
                        color: black;
                    }
            }
        }

        & h2 {
            text-align: center;
            color: var(--rebecca);
        }
        
        & h5 {
          margin: 20px;
        }
    };

}

header {
    @apply --header-theme;
    @apply --flex-container;
}

body {
    background-color: var(--backgroundColor);
    color: var(--rebecca);
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

}

.headerName {
    font-size: 2em;
}

.headerJob {

}

ul {

}

li {

}
